<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>个人博客</title>
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/guestBook.css">
    <!-- 引入vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--引入axios-->
    <script src="./js/axios.js"></script>
</head>

<body>
    <!-- 文章头部导航栏 -->
    <header class="header">
        <div class="container">
            <a href="#" class="title">我的个人博客 | 技术博客</a>
            <ul class="menu">
                <li><a href="index.html">首页</a></li>
                <li><a href="sitemap.html">地图</a></li>
                <li><a href="about.html">关于</a></li>
                <li><a href="guestbook.html">留言</a></li>
            </ul>
            <div class="search_bar">
                <input type="text" placeholder="输入关键词查找">
                <button>提交</button>
            </div>
        </div>
    </header>

    <!-- 中间的主体内容,分为左右两大块 -->
    <div class="content">
        <!-- 左边内容 -->
        <div class="content_left">
            <!-- 我的描述 -->
            <div class="description">
                <p>欢迎灌水交流，别看我长时间不发博，博主可一直都在线~</p>
                <p style="color: red;">友链只交换技术类个人博客，本博客稳定在线，所以也需要你的站尽量稳定。</p>
                <p style="color: red;">不要皮，谢谢。</p>
            </div>

            <!-- 博客评论 -->
            <div class="blog_comments" id="blog_comments">
                <h3 class="blog_comments_msg">当前文章：目前有{{total}} 条留言</h3>
                <div class="blog_comment" v-for="(item,index) in commentsList" :key="index">
                    <span><b>{{item.user_name}}</b>：{{item.options}}&nbsp;&nbsp;发表于 {{item.ctime}} <a style="cursor: pointer" @click="replay(item.id,item.user_name)">[回复]</a></span>
                    <div>{{item.comments}}</div>
                </div>
            </div>
            <!--评论详情-->
            <div class="send_comment" id="send_comment">
                <span class="send_title">发表评论</span>
                <div>
                    <!--该隐藏输入框用于记录 value值为-1时代表是评论博客-->
                    <input type="hidden" id="comment_reply" value="-1" ref="reply">
                    <!--该隐藏输入框用于记录 value值为0时代表没有回复其他人-->
                    <input type="hidden" id="comment_reply_name" value="0" ref="reply_name">
                    <input type="text" placeholder="昵称" id="comment_name" v-model="commentName">
                    <input type="text" placeholder="邮箱(评论被回复时能够收到通知)" id="comment_email" v-model="commentEmail">
                </div>
                <div>
                    <textarea placeholder="无意义内容我不会回复你" id="comment_content" v-model="commentContent"></textarea>
                </div>
                <div class="svg-wrap">
                    <input type="text" placeholder="验证码" v-model="commentCode">
                    <span class="send_svg" v-html="codeImg" @click="changeSvg"></span>
                </div>
                <div class="button_group">
                    <button class="back" @click="handleComment">提交留言</button>
                    <button class="button" @click="rewriteComment">重新编辑</button>
                </div>
            </div>
        </div>
        <!-- 右边内容 -->
        <div class="content_right">
            <!-- 随机标签云 -->
            <div class="right_module" id="random_tag">
                <div class="random_tag">随机标签云</div>
                <div class="random_content">
                    <a href="" v-for="(item,index) in tags" :key="index" :style="{color:getRandomColor(),fontSize:getRandomFont()}">{{item}}</a>
                </div>
            </div>
            <!-- 最近热门 -->
            <div class="right_module" id="new_hot">
                <div class="random_tag">最近热门</div>
                <ul class="recent_hot">
                    <li v-for="(item,index) in titleList">
                        <a :href="item.link">{{item.title}}</a>
                    </li>
                </ul>
            </div>
            <!-- 最新评论 -->
            <div class="right_module" id="new_comment">
                <div class="random_tag">最新评论</div>
                <ul class="recent_recommend">
                    <li v-for="(item,index) in commentList" :key="index">
                        <div>
                            <span class="recommend_name">{{item.name}}</span>
                            <span class="recommend_time">[{{item.date}}]</span>
                        </div>
                        <p>{{item.comment}}</p>
                    </li>
                </ul>
            </div>
            <div class="right_module">
                <div class="random_tag">友情链接</div>
                <div class="friend_connect">
                    <span><a href="">挨踢茶馆</a></span>
                    <span><a href="">挨踢茶馆</a></span>
                    <span><a href="">挨踢茶馆</a></span>
                    <span><a href="">挨踢茶馆</a></span>
                </div>
            </div>
        </div>
    </div>

    <!-- 底部导航栏 -->
    <footer class="footer">
        <ul>
            <li>C/C++</li>
            <li>CSS/DIV</li>
            <li>java</li>
            <li>javacript</li>
            <li>Linux</li>
            <li>Mac</li>
            <li>PC技术</li>
            <li>PHP</li>
            <li>Python</li>
            <li>Raspberry</li>
            <li>Ubuntu</li>
            <li>wordpress</li>
            <li>关于SEO分享经验</li>
        </ul>
        <p class="copy_right">Copyright © 2010-2019 郑晓个人博客 All rights reserved. 由免费开源的WordPress强力驱动. 鲁ICP备14017955号站长统计
        </p>
    </footer>
    <script src="./js/base.js"></script>
    <script src="./js/guestBook.js"></script>
</body>

</html>